/*this css file was created because I wanted some things to be different in the about me section of my site*/

/* css for links */
a{
    color: #dbbfcc;
    padding: 1em;
    font-family:'PT Sans', sans-serif;
    display: block;
    padding: 8px;
    background-color:#cbe9f2;   
}

/* css for text related stuff */
p{
    color:#b57edc;
    font-family: 'Cantarell', sans-serif; 
    border: 5px dotted pink;
}
h2{
    color: #94c6e3;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    background-color: white   
}
h1{
    color:white;
    text-align: center;
    font-weight: 100;
    font-family: "Open Sans Condensed", sans-serif;
    background-image: url(../images/starry.jpg);
}
h4{
    color: #94c6e3;
    font-weight: 100;
    font-family: "Open Sans Condensed", sans-serif;

}

/* css for organizing things */
ol{
    color: rgb(77, 119, 233);
    padding: 1em;  
}
table, th, td{
    color: #b57edc;
    font-family: 'Cantarell', sans-serif;
    border: 2px solid #da6895;
    border-collapse: collapse;
    background-color:azure;   
}

/* css for image related things */
figure{
    text-align: center;
    color:  #b57edc;
    font-family: 'Cantarell', sans-serif; 
    font-size: x-small;
}
body{
    background-color: #cbe9f2;    
}
img{
    border: 4px solid  #da6895;
}

/*nav bar code starts here*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:#f1a3ad;  /*#dbbfcc--> dusty rose colour (listed here in case I want it)*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:azure;
    /* all code for nav bar from w3schools.com*/
  }

