/* css for links */
a{
    color: #f1a3ad;
    padding: 1em;
    font-family:'PT Sans', sans-serif;
    display: block;
    padding: 8px;
    background-color:#cbe9f2;

/* css for text related stuff */     
}
p{
    color:#b57edc;
    font-family: 'Cantarell', sans-serif; 
    
}
h2{
    color: #94c6e3;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    background-color: white   
}
h1{
    color:white;
    text-align: center;
    font-weight: 100;
    font-family: "Open Sans Condensed", sans-serif;
    background-image: url(../images/starry.jpg);
    /* background image credit: thobar */
}
h4{
    color: #94c6e3;
    font-weight: 100;
    font-family: "Open Sans Condensed", sans-serif;
}

/* css for organizing things */
table, th, td{
  color: #b57edc;
  font-family: 'Cantarell', sans-serif;
  border: 2px solid #da6895;
  border-collapse: collapse;
  background-color: white;
}

ol{
    color: rgb(77, 119, 233);
    padding: 1em;  
}

/* css for image related things */
figure{
    text-align: center;
    color:  #b57edc;
    font-family: 'Cantarell', sans-serif; 
    font-size: x-small;
}
body{
    background-color: #cbe9f2;    
}
img{
    border: 4px solid  #da6895;
}

/* nav bar stuff */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #f1a3ad;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:azure;
  /* all code for nav bar from w3schools.com*/ 
  }

  /* all css for buttons (there's a lot)*/
  #greeting {
    background-color: #dbbfcc;
    color: white;
    border-color: lavender;
    border-radius: 50%;
    padding: 10px 10px;
    transition-duration: 0.4s;
  }
  #greeting:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #greeting:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #farewell {
      background-color: #dbbfcc;
      color: white;
      border-color: lavender;
      border-radius: 50%;
      padding: 10px 10px
  }
  #farewell:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #farewell:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #question {
      background-color: #dbbfcc;
      color: white;
      border-color: lavender;
      border-radius: 12px;
  }
  #question:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #question:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #question2 {
    background-color: #dbbfcc;
    color: white;
    border-color: lavender;
    border-radius: 12px;
  }
  #question2:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #question2:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #question3 {
    background-color: #dbbfcc;
    color: white;
    border-color: lavender;
    border-radius: 12px;
  }
  #question3:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #question3:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #question4 {
    background-color: #dbbfcc;
    color: white;
    border-color:lavender;
    border-radius: 12px;
  }
  #question4:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #question4:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #varDemo{
    background-color: #dbbfcc;
    color: white;
    border-color:lavender;
    border-radius: 12px;
  }
  #varDemo:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #varDemo:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #varDemo2{
    background-color: #dbbfcc;
    color: white;
    border-color:lavender;
    border-radius: 12px;
  }
  #varDemo2:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #varDemo2:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #varDemo3{
    background-color: #dbbfcc;
    color: white;
    border-color:lavender;
    border-radius: 12px;
  }
  #varDemo3:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #varDemo3:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #midway{
    background-color: #dbbfcc;
    color: white;
    border-color:lavender;
    border-radius: 12px;
  }
  #midway:hover{
    background-color: white;
    color: #dbbfcc;
  }
  #midway:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
/* all css for :hover, :active, and border-radius from w3schools; link: https://www.w3schools.com/css/css3_buttons.asp */
 