a{
    color: #dbbfcc;
    padding: 1em;
}
p{
    color: #b57edc;
    font-family: 'PT Sans', sans-serif;
}
h2{
    color: #94c6e3;
}
h1{
    color: #da6895;
    font-weight: 300;
}
h4{
    color: #94c6e3;
}
ol{
    color: #b57edc;
    padding: 1em;
}